<div class="row">
  <!-- [ variant-chart ] start -->
  <div class="col-md-6">
    <app-card cardTitle="GreenFleet User Adoption " [options]="false">
      <apx-chart
        [dataLabels]="line1CAC.dataLabels!"
        [chart]="line1CAC.chart!"
        [stroke]="line1CAC.stroke!"
        [colors]="line1CAC.colors!"
        [series]="line1CAC.series!"
        [title]="line1CAC.title!"
        [grid]="line1CAC.grid!"
        [xaxis]="line1CAC.xaxis!"
      ></apx-chart>
    </app-card>
  </div>
  
  
  
 
 
  <div class="col-md-6">
    <app-card cardTitle="Travel Greener: Carpooling vs. Regular Travel Emissions" [options]="false">
      <apx-chart
        [dataLabels]="bar1CAC.dataLabels!"
        [chart]="bar1CAC.chart!"
        [plotOptions]="bar1CAC.plotOptions!"
        [stroke]="bar1CAC.stroke!"
        [colors]="bar1CAC.colors!"
        [series]="bar1CAC.series!"
        [tooltip]="bar1CAC.tooltip!"
        [xaxis]="bar1CAC.xaxis!"
        [yaxis]="bar1CAC.yaxis!"
        [fill]="bar1CAC.fill!"
      ></apx-chart>
    </app-card>
  </div>

 

  <div class="col-md-6">
    <app-card cardTitle="Most Active Carpooling Origins" [options]="false">
      <apx-chart
        [dataLabels]="mixed1CAC.dataLabels!"
        [chart]="mixed1CAC.chart!"
        [labels]="mixed1CAC.labels!"
        [stroke]="mixed1CAC.stroke!"
        [colors]="mixed1CAC.colors!"
        [series]="mixed1CAC.series!"
        [title]="mixed1CAC.title!"
        [yaxis]="mixed1CAC.yaxis!"
        [xaxis]="mixed1CAC.xaxis!"
      ></apx-chart>
    </app-card>
  </div>
 
 


 
  <div class="col-md-6">
    <app-card cardTitle="Market Share of Car Brands Used for Rides" [options]="false">
      <apx-chart
        [labels]="pie1CAC.labels!"
        [chart]="pie1CAC.chart!"
        [dataLabels]="pie1CAC.dataLabels!"
        [series]="pie1CAC.series!"
        [colors]="pie1CAC.colors!"
        [responsive]="pie1CAC.responsive!"
        [legend]="pie1CAC.legend!"
      ></apx-chart>
    </app-card>
  </div>
 
  
  
  
  
  <!-- [ variant-chart ] end -->
</div>
